﻿@page "/"
@inherits ProductsBase

@if (Products == null)
{
    <DisplaySpinner/>
}

else
{
    <h3 class="mb-5">Products</h3>
    var productCount = Products.Count();

    if (productCount > 0)
    {
        @foreach (var prodGroup in GetGroupedProductsByCategory())
        {
            <h4>@GetCategoryName(prodGroup)</h4>

            <div class="row mt-3">
                <DisplayProduct Products="@prodGroup.Take(4)" />
            </div>

            <hr class="mb-3" />
        }
    }
}